<div class="container mt-5">
    <div class="row">
        <div class="col-6">
              <h3>{{fruit}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of fruits">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{color}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of colors">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

     <div class="row">
        <div class="col-6">
              <h3>{{num}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of numbers">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{city}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of cities">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

     <div class="row">
        <div class="col-6">
              <h3>{{lang}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of languages">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{country}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of countries">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

     <div class="row">
        <div class="col-6">
              <h3>{{hobby}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of hobbies">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{course}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of courses1">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
              <h3>{{score}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of scores">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{month}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of months">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-6">
              <h3>{{event}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of events1">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{skill}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of skills">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
              <h3>{{role}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of roles">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3>{{alert}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of alerts">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

    <div class="row">
          <div class="col-6 offset-2">
              <h3>{{status}}</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ele of statuses">
                         {{ele}}
                    </li>
                </ul>
        </div>
    </div>
</div>