<div class="container mt-5">
    <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{fruit}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of fruits">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{color}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of colors">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

     <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{num}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of numbers">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{city}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of cities">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

     <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{lang}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of languages">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{country}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of countries">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

     <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{hobby}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of hobbies">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{course}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of courses1">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{score}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of scores">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{month}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of months">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{event}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of events1">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{skill}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of skills">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
              <h3 class="text-center">{{role}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of roles">
                        {{ele}}
                    </li>
                </ul>
        </div>
        <div class="col-6">
              <h3 class="text-center">{{alert}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of alerts">
                        {{ele}}
                    </li>
                </ul>
        </div>
    </div>

    <hr>

    <div class="row">
          <div class="col-6 offset-2">
              <h3 class="text-center">{{status}}</h3>
                <ul class="list-group text-center">
                    <li class="list-group-item" *ngFor="let ele of statuses">
                         {{ele}}
                    </li>
                </ul>
        </div>
    </div>
</div>